body {
    nav {
        position: absolute;
        max-width: 70%;
        width: auto;
        min-width: 80%;
        height: auto;
        border: blue solid 2px;
        display: none;
        grid-template-columns: auto auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        justify-content: space-around;
        left: 10%;

        article {
            margin: 20px 20px 20px 20px;

            img {
                width: 200px;
                transition: transform 200ms ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
            }
        }
    }
}